/* UNIVERSAL STYLINGS */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.7s;
  /* debugging  */
  /* border: 1px solid red; */
  
  /* Default Font  */
}


/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
