*{
    background-color: bisque;
}

#checkoutheader{
  box-shadow: 0px 10px 10px 0px #555;
}

h1, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 2px 5px white;
}

.orderList {
  list-style: none !important;
}

h1::before,
h1::after {
    content:" 📜 ";

}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: black;
  font-size: 3em;
}

#review {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.5em;
}

ul {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1em;
}

h4 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.5em;
}

.orderList {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1em;
  }


.btn {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }


  .footer_section {
    color: black;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4, .footer_section .footer-logo{
    margin-bottom: 20px;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 2em;
  }
  
  .footer_section p,  .footer_section span {
    color: black;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.5em;
  }
  .footer_section span {
    color: black;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1em;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: black;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: yellow;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-size: 3em;
    line-height: 1;
    color: black;
    font-family: 'Fredericka the Great', cursive;
  }

  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: black;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }

  .footer_section p2 {
    color: black;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1em;
  }
