*{
    background-color: bisque;
}

h1, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 2px 5px white;
}

h1::before,
h1::after {
    content:" 📜 ";

}