*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.3s;
  /* debugging  */
  /* border: 1px solid red; */
  
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

body {
  background-color: lightblue;
}

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  display: flex;
}

/* Main Menu Styling */
.menuTitle {
  background-color: rgba(0,0,0,0.7);
  color: white;
}
.menuItem {
  display: none;
}

.menuItem img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

}
.menuItem img{
  width: auto;
  height: 300px;
  vertical-align: middle;
  transition: auto 0.2s;
}


/* Drink Styling */
.drinkTitle {
  background-color: rgba(255, 77, 77, 0.7);
  color: white;
}
.drinkItem {
  display: none;
}

.drinkItem img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

}


/* Side Images */
.sideTitle {
  background-color: rgba(227, 178, 0, 0.7);
  color: white;
}
.sideItem {
  display: none;
}

.sideItem img{
  width: auto;
  height: 300px;
  vertical-align: middle;
  transition: auto 0.2s;
}

.sideItem img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  background-color: rgb(253, 180, 45);
  font-weight: bold;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: rgba(0,0,0,0.24);
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.cart img {
  width: auto;
  height: 350px;
}


#checkOut{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: goldenrod;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  padding: 7px 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#checkOut:hover {
  background-color: white;
  color: goldenrod;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}